*{
    box-sizing: border-box;
}

h1, h2, h3{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(47, 79, 79);
    
}

.card-container h2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

header{
    align-items: left;
}

body{
    width: 100%;
    color: darkslategrey;
    background-color: #eee;
}

h1{
    text-align: left;
    font-size: 2.5em;
    color: goldenrod;
}

table{
    border-collapse: collapse;
    border: 3px double black;
    width: 50%;
    
}

th{
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
    height: 2rem;
    text-align: left;
    
}

img{
    width: 90px;
    height: auto;
    border-radius: 50%;
}


.navbar{
    background-color: darkslategray;
    display: flex;
    position: fixed;
    width: 100%;


}

.navbar .navbar_class{
    border: 1.5px solid silver;
    border-radius: 12px;
    display: inline-block;
    padding-top: 15px;
    margin: 0.5em;

}

.navbar .navbar_class .card{
    display: inline-block;
    text-align: center;
    background-color: goldenrod;
    border-radius: 16px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 3px rgba(0, 0, 0, .16), 0 3px rgba(0, 0, 0, .23);
    margin: .5rem;

}

.navbar .navbar_class .card:hover{
    color: rebeccapurple;
    background-color: darkgoldenrod;
}



.navbar .card a{
    text-decoration: none;
    color: black;
}

.card-container{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.card-container .intro{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    border: 1pt solid black;
    border-radius: 15%;
    
}

.card-container #contributors{
    flex:  0 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#tool-window{
    border: 7px solid darkslateblue;
    border-radius: 10%;
    flex: 0 0 75%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 330px;
    margin-top: 30px;

}

#tool-window .map{
    width: 100%;
    height: 100%;
    border-radius: 10%;

}

.icon{
    width: 100px;
    height: auto;
}
